<section>
  <div class="movie">
    <div class="wrapper">
      <img src="assets/battle_royale.jpg" />
      <div class="details">
        <h5 title="Battle Royale (2000)">Battle Royale (2000)</h5>
        <div class="row">
          <span>Crew:</span>
          <span title="Kinji Fukasaku (dir.), Tatsuya Fujiwara, Aki Maeda"
            >Kinji Fukasaku (dir.), Tatsuya Fujiwara, Aki Maeda</span
          >
        </div>
        <div class="row">
          <span>Rating:</span>
          <span title="7.6">7.6</span>
        </div>
      </div>
    </div>
  </div>
</section>
